[user]
  name = heisenburger
  email = serenadantingchen@gmail.com
[alias]
  st = status
  cm = commit
  br = branch
  co = checkout
  df = diff
  hist = log --pretty=format:\"%h %ad (%cr) | %s%C(auto)%d%Creset [%an]\" --graph --date=short
  wdiff = diff --word-diff
  wshow = show --word-diff
[branch "master"]
  remote = origin
  merge = refs/heads/master
