[user]
  name = heisenburger
  email = serenadantingchen@gmail.com
[alias]
  st = status
  cm = commit -a -m # add and commit with message
  br = branch
  co = checkout
  nb = checkout -b # make new branch and check it out
  df = diff
  hist = log --pretty=format:\"%h %ad (%cr) | %s%C(auto)%d%Creset [%an]\" --graph --date=short
  wdiff = diff --word-diff
  wshow = show --word-diff
[branch "master"]
  remote = origin
  merge = refs/heads/master
[ignore]
  filemode = false
[push]
  default = upstream
[core]
  excludesfile = ~/.gitignore_global
[remote "origin"]
  push = HEAD

